<footer class="footer">
	<div class="container">
		<div class="flex">
			<a class="logo" href="/" title="Công ty Cổ phần Đầu tư Sakae"><img
					src="/assets/images/logo.png"> </a>
			<div class="address">
				<p><strong class="txt_16">Công ty Cổ phần Đầu tư Sakae</strong><br />Nhà phát triển chuyên tâm</p>
				<div>Địa chỉ: 241 Xuân Thủy, Quận Cầu Giấy, TP Hà Nội, Việt Nam</div>
				<div class="contact">
					<div class="item">Điện thoại: <a style="color:#fff;" href="tel:+84 123456789">+84 12345678</a></div>
					<div class="item">Fax: <a href="javascript:;" style="color: #fff;">+84 12345678</a></div>
					<div class="item">Email: info@sakaevietnam.vn</div>
				</div>
			</div>
			<div class="social">
				<a href="#">
					<svg class="icon-svg">
						<use xlink:href="/assets/images/icon.svg#Facebook"></use>
					</svg>
				</a>
				<a href="#">
					<svg class="icon-svg">
						<use xlink:href="/assets/images/icon.svg#linkin"></use>
					</svg>
				</a>
				<a href="#">
					<svg class="icon-svg">
						<use xlink:href="/assets/images/icon.svg#youtube"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>
<div class="copy_right">
	<div class="container">© Copyright 2022 By Sakae. All rights reserved.</div>
</div>
<!--End Footer-->
<div class="overlay-bg"></div>
<!--Back to top-->
<a href="javascript:;" id="to_top">
	<svg class="icon-svg">
		<use xlink:href="/assets/images/icon.svg#arrow01"></use>
	</svg>
</a>

<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/js/swiper.min.js"></script>
<script type="text/javascript" src="/assets/js/svgxuse.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/js/numscroller-1.0.js"></script>
<script type="text/javascript" src="/assets/js/jquery.wow.min.js"></script>
<script type="text/javascript" src="/assets/js/wow.js"></script>
<script type="text/javascript" src="/assets/js/common.js?v=1.15"></script>
<script type="text/javascript" src="/assets/js/custom.js?v=1.15"></script>